PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_oCw1q0EZcsIv@ep-summer-brook-azbe5jc0.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:5173